.showcase_heading {
  padding-left: 30px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-top: 2%;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #1a1a11;
 


background-color: rgba(151, 151, 151, 0.03);

}


body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  background-color: rgba(151, 151, 151, 0.03);
}
/*Showcase box  */
#main {
  background-color: rgb(255, 255, 255);
}
.showcase_box {
  width: 430px;
  height: 250px;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 0px 20px 10px 20px;
  overflow: hidden;
  transition: transform 0.2s;
}
.showcase_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.showcase_box:hover {
  transform: scale(1.06);
}
.cs-hidden {
  overflow: visible !important;
}

/* section 2 */
#latest {
  border-top: 1px solid rgba(53, 53, 53, 0.1);
}

.latest_heading {
  margin: 30px 30px 0px 30px;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.latest_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  margin: 21px;

  width: 200px;
  background-color: #ffffff;
}
.latest_b_img {
  width: 100%;
  height: 270px;
}

.latest_b_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: cover;
}
.latest_b_text strong {
  color: #3a3a3a;
  margin: 0px;
}
.latest_b_text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.latest_b_text p {
  color: #979797;
  margin: 0px;
  font-size: 15px;
  font-weight: 400;
}
ul {
  list-style: none;
}
/* footer mashi muhim daba  */
.container {
  /* display: flex;
  align-items: stretch; */
  /* haut | droit | bas | gauche */
  margin: 12px 0 0 0;
  width: 100%;
}

/* 
Align vertically */

#books-ln {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.genre-ln {
  display: flex;
  /* justify-content: start; */
  align-items: flex-start;
  flex-wrap: wrap;
}
.trend-heading h1 {
  margin-bottom: 30px;
  padding: 6px 20px;

  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.06);
  text-transform: uppercase;

  width: 100%;

  font-weight: 500;
  font-size: 20.8px;
  letter-spacing: 1px;
}
.trend-heading {
  display: flex;
  margin: 0px 2%;
}

.trend-box {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  margin-left: 7%;
  margin-bottom: 2%;
  margin-right: 8rem;

  border-radius: 5px;
  overflow: hidden;
  border-top: 1px solid #292929;
}

.trend-img {
  width: 100%;
  height: 400px;
  position: relative;
}

.trend-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trend-box a {
  text-align: center;
  display: block;
  font-weight: 600;
  display: -webkit-box;
  max-width: 80;
  /* -webkit-line-clamp: vertical; */
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3a3a3a;
  margin: 20px;
}
.trend-box:hover {
  transform: scale(1.06);
  transition: all ease 0.4s;
}
#trend-list {
  display: flex;
  /* justify-content: start; */
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
